.warning {
	display: none;

	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
	color: black;

	align-items: center;
	justify-content: center;

	font-family: "montserrat";
}

@media only screen and (max-width: 992px) {
	.warning {
		display: flex;
	}
}

.message {
	max-width: 60%;
	text-align: center;
}
