@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  >* {
    top: 0;
    margin: 0;
  }
}

body {
  --xsmall: 2vw;
  --small: 5vw;
  --mid: 7vw;
  --large: 10vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button {
  &:hover {
    cursor: pointer !important;
  }
}

* {
  transition: color 150ms ease, opacity 150ms ease;
  outline: none;
  box-sizing: border-box;
}
