.steel {
    position: relative;
    background-color: black;

    padding-bottom: 60px;

    font-family: "Roboto Mono", monospace;
    color:white;

    // button {
    // position: absolute;
    // bottom: var(--xsmall);
    // left: 50%;
    // transform: translateX(-50%);
    // border: 1px solid white;
    // border-radius: 5px;
    // background-color:black;
    // color: white;
    // font-family: "Roboto Mono", monospace;
    // padding: 6px 16px;
    // font-size: 16px;

    //     &:hover {
    //         cursor: pointer;
    //         background-color: #ffffff33;
    //     }
    // }
}

.splitter {
    display:flex;
    width: 100%;
    height: 100%;

    >* {
        flex: 1;
    }

    .splitLeft {
        width: 60%;
    }

    .splitRight {
        width: 40%;
        align-items: center;
    }

    .splitLeft, .splitRight {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 5vw;
    }

    // .splitRight {
    //     position: relative;
    //     justify-content: center;
    //     align-items: center;
        
    //     .preview {
    //         position: absolute;
    //         width: 80%;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%,-40%);
    //     }
    // }
}

.wordmark {
    width: 50%;
}

.infoHolder {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-size: 0.9em;

    .info {
        margin-bottom: 15px;
    }

    >* {
        &:first-child {
            margin-top: 0;
        }
    }

    .small {
        font-size: 12px;
    }

    h2 {
        margin-top: 30px;
    }
}