.steel {
    position: relative;
    background-color: black;

    font-family: "Roboto Mono", monospace;
    color:white;
}

.splitter {
    display:flex;
    width: 100%;
    height: 100%;

    >* {
        flex: 1;
    }

    .splitLeft {
        width: 60%;
    }

    .splitRight {
        width: 40%;
        align-items: center;
        position: sticky;
        height: 100vh;
        top:0;
    }

    .splitLeft, .splitRight {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 5vw;
    }
}

.wordmark {
    height: 90px;
    display: inline-block;
    width: fit-content;
}

.infoHolder {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-size: 0.9em;

    .info {
        margin-bottom: 15px;
    }

    >* {
        &:first-child {
            margin-top: 0;
        }
    }

    .small {
        font-size: 12px;
    }

    h2 {
        margin-top: 30px;
    }
}

.bottomSnap {
    padding-bottom: 60px;
}